<h2>Liked Songs</h2>
<div class="liked-songs-container">
    <div class="track-list">
      <div class="track-container" *ngFor="let track of songs">
        <img [src]="track.album.image" alt="Album Image" class="album-image">
        <div class="track-details">
          <div class="track-name">{{ track.name }}</div>
          <div class="artist-name">{{ track.artists[0].name }}</div>
        </div>
        <div class="duration">{{ track.duration_ms }}</div>
      </div>
    </div>
  </div>
  