.liked-songs-container {
    max-height: 700px; 
    overflow-y: auto; 
    padding: 10px;


    &::-webkit-scrollbar {
        width: 5px; 
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #1DB954; 
        border-radius: 5px; 
      }
  }
  
  .track-list {

  }
  
  .track-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .album-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .track-details {
    flex-grow: 1;
  }
  
  .track-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .artist-name {
    color: #888;
  }
  
  .duration {
    margin-left: 10px;
    font-size: 0.9rem;
    color: #888;
  }
  