body {
    background-color: #2C2C2C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98.5vh;
    margin: 0;
    color: #1DB954;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 40px;
  }
  
  button {
    background-color: #1DB954;
    color: #2C2C2C;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
    font-size: 30px;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: #25A545;
  }